@import "../dist/flex-scss.scss";

html, body {
  height: 100%;
}

body {
  font-size: 14px;
}

.content {
  > div {
    width: 150px;
    height: 150px;
    border: 1px solid #f00;
    margin: 10px;
    float: left;
  }
}

